<div class="container">

    <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="accountFacade.loginForm">

        <h2 class="text-center text-muted">Acessar a X Empresa</h2>
    
        <div class="row">
    
            <div class="offset-xl-4 col-xl-4 col-xs-4">
            
                <mat-form-field 
                    appearance="outline"
                    class="input__full__col__width">
                    <mat-label>
                        E-mail
                    </mat-label>
                    <input
                    matInput
                    type="email"
                    name="email"
                    id="email"
                    formControlName="email"/>
                </mat-form-field>
     
            </div>
        </div>

        <div class="row">
            <div class="offset-xl-4 col-xl-4 col-xs-4">
    
                <mat-form-field 
                    appearance="outline"
                    class="input__full__col__width">
                    <mat-label>
                        Senha
                    </mat-label>
                    <input
                    matInput
                    type="password"
                    name="password"
                    id="password"
                    formControlName="password"/>
                </mat-form-field>
    
            </div>
        </div>

        <div class="row">   
            <div class="offset-xl-4 col-xl-4 col-xs-4">
                <div class="group__buttons__right">

                    <button 
                        type="submit"
                        mat-raised-button
                        color="primary"
                        [disabled]="form.form.invalid"
                        class="group__buttons__login">
                        Entrar
                    </button>
                    
                    <button 
                        type="button" 
                        mat-raised-button
                        color="accent"
                        [routerLink]="['/create-account']"
                        class="group__buttons__account">
                        Criar conta
                    </button>

                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="offset-xl-4 col-xl-4 col-xs-4 text-justify mt-4"> 
                <span 
                    class="text-muted">
                    Ao entrar na X empresa, você concorda com os nossos 
                    <a 
                        href="#"
                        class="text-reset">
                        Termos e Política de Privacidade.
                    </a>
                </span>
            </div>
        </div>
        
    </form>

</div>
